html,
body {
  margin: 0;
  color: #35494d;
  font-family: "Merriweather", serif;
  overflow-y: hidden;
  padding: 0;
}

#map {
  height: 100%;
  width: 70%;
}

.mainHeading {
  max-width: 100%;
}

#restaurantList {
  flex: 1;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.fas.fa-star,
.fas.fa-star-half-alt {
  color: goldenrod;
}

.container {
  position: relative;
  height: calc(100vh - 71px);
}

.sidebar {
  display: block; /* Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  right: 0;
  overflow: auto;
  width: 30%; /* Full width */
  top: 0;
  bottom: 0;
  background-color: #a2b7bc;
  padding: 20px;
}

.close {
  right: 16px;
  top: 24px;
  background-color: #4e6d77;

  padding: 7px;
}

.rate {
  margin-right: 5px;
  font-weight: bolder;
  color: goldenrod;
}

.hide {
  right: 30%;
  width: 0;
  padding: 0;
  transition: width 300ms ease-out;
  -moz-transition: width 300ms ease-out; /* Firefox 4 */
  -webkit-transition: width 300ms ease-out; /* Safari and Chrome */
  -o-transition: width 300ms ease-out; /* Opera */
}

.unseen {
  visibility: hidden;
}

.space {
  padding: 10px;
}

p {
  font-size: 12px;
}

h1 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

h3 {
  font-family: "Montserrat", sans-serif;
}

.gm-style img {
  max-width: 550px;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
}

select {
  margin: 0 5px;
}

.mainHeading {
  padding: 2px;
  background-color: #53676b;
  color: #e5ebec;
}

.remove {
  display: none;
}

select {
  border-radius: 10%;
  padding: 5px;
  background-color: #ffffff;
}

#submit,
#addButton {
  background-color: #9fafa6;
  border-radius: 10px;
  padding: 7px;
}

.listImg {
  width: 90px;
  float: right;
  height: 100%;
}

img {
  max-width: 100%;
}

.span {
  margin-right: 5px;
}

#popUp {
  padding: 5px;
  border-radius: 10px;
  background-color: #a2b7bc;
  height: 100%;
  color: #35494d;
}

.show {
  display: block;
}

#images {
  border-radius: 2%;
}

/* p{
  font-size: 15px;
}
 */
/* Scrollbar styles */
::-webkit-scrollbar {
  width: 12px;
  height: 5px;
  border-radius: 10%;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px olivedrab;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: yellowgreen;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.rateBar {
  display: inline-flex;
  align-items: center;
}

#restaurantRatingId {
  padding: 10px;
}

li[id*="rest"],
li[class*="individual"] {
  display: flex !important ;
  align-items: center;
  flex-direction: row-reverse;
  margin: 10px auto;
  justify-content: space-between;
  height: 100%;
}

.containingDiv {
  width: 60%;
}

.containingDiv > h3 {
  margin: 0;
}

@media only screen and (max-width: 600px) {
  body {
    color: red;
  }
}
